<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
  <section class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-col px-5 justify-center items-center">
      <div class="w-full md:w-2/3 flex flex-col mb-16 items-center text-center">
        <img class="lg:w-1/5 md:w-1/6 w-1/6 mb-4 mt-20 object-cover object-center rounded" alt="hero" src="/static/error.png">
            <h1 class="title-font sm:text-4xl text-3xl mb font-medium text-gray-900">Ah, Snap! Could you please try again?</h1>
            <p class="mb-8 leading-relaxed">It seems like you entered some incorrect values.</p>
            <div class="flex w-full justify-center items-end">
              <a href="/"><button class="inline-flex text-white bg-blue-500 border-0 px-6 py-2 focus:outline-none hover:bg-blue-600 rounded text-lg">Try again</button></a>
            </div>
            <p class="text-sm mt-2 text-gray-500 mb-20 w-full mb-40">Enter values of x and y separated by commas</p>
          </div>
        </div>
      </section>
 
 

</body>
</html>